/* Custom scrollbar for webkit browsers */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #0A0A0A;
        }
        ::-webkit-scrollbar-thumb {
            background: #3E3E3E;
            border-radius: 4px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #535353;
        }